body {
background-color: #fff;
margin: auto;
}

  .max-width {
  max-width: 58em; /* 58em + 1em + 1em = 60em */
  padding: 0 1em;
  margin: 0 auto;
  }

/* info (general) / section */

.info {
  margin-top: 2%;
  text-align: justify;
}

.info header {
  padding: 2% 0;
}

.info header h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

.info h3{
background-image: linear-gradient(45deg, #fbc2eb 0%, #a6c1ee 100%);padding: 1% 0;

}

/* dashed bottom horizontal rule */


  #banner {
  background: #999 url("../img/watercolor_pic.jpg") no-repeat center top;
  background-size: cover;
  padding: 5% 0;
  text-align: center;
  }

  #banner h1 {
  display: inline-block;
  font: bold 3em/1.15 Baskerville, sans-serif;
  font-size: 3.3em;
  color: #939;
  !background: #6cf;
  padding: .3em;
  !border-top: 2px solid #66f;
  !border-bottom: 2px solid #66f;
  }

  .line {
  border-top: 1px  #000;
  border-bottom: 1px solid #000;
  border-width: 1em;
  border-color: #939;
  }

  .intro {
  text-align: justify;
  font-family: Baskerville;
  font-size: 15px;
  margin: 1.5em;
  !background: #fff;
  }

  nav details {
  font-family: Baskerville;
  text-align: center;
  font-size: 20px;
  padding: 1em;
  color: #939;

  }

  nav ol,
  nav ul {
  padding-left: 1em;
  overflow: hidden;
  }

  nav li{
  font-family: Baskerville;
  font-size: 1.1em;
  display: inline-block;
  text-align: center;
  list-style: none;
  float: center;
  margin: 1em 1em;
  }

  nav a{
  color: #60c;
  padding: 2.1em;
  text-decoration: none;
  }

  !#history {
  text-align: justify;
  !background: #fff;
  padding: 5em 1em;
  margin-top: 2%;
  border-width: 1em;
  margin: 0;
  font-family: Baskerville;
  }

  .history header h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;

}


  #history header {
  background: #909;
  background-image: linear-gradient(45deg, #909 0%, #fff 100%);
  padding: 1% 0;


}

  .materials {
  text-align: justify;
  padding: 1em 1em;
  border-width: .1em;
  margin: em;
  font-family: Baskerville;
  }


.materials header h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

#materials header {
  background: #909;
  background-image: linear-gradient(45deg, #909 0%, #fff 100%);
  padding: 1% 0;}

  .techniques {
  text-align: justify;
  padding: 1em 1em;
  border-width: .1em;
  margin: em;
  font-family: Baskerville;
  }

  .techniques header {
  padding: 2% 0;
}

.techniques header h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;
}

#techniques header {
  background: #909;
  background-image: linear-gradient(45deg, #909 0%, #fff 100%);
  padding: 1% 0;
}


  .artists {
  text-align: justify;
  padding: 1em 1em;
  border-width: .1em;
  margin: em;
  font-family: Baskerville;
  }


  .artists header h2 {
  color: #fff;
  margin-top: 0;
  margin-bottom: 0;

}

#artists header {
  background: #909;
  background-image: linear-gradient(45deg, #909 0%, #fff 100%);
  padding: 1% 0;
}


  .hero-photo-grid {

  list-style: none;
  text-align: center;
  padding-left: 0;

}

.jump-link-top {
  text-align: center;
  }

.jump-link-top a {
  display: block;
  font: 1.1em baskerville;
  text-decoration: none;
  padding: 1.2em;
  }

.jump-link-top .arrow-up {
  font: bold 1.2em "Baskerville";
  vertical-align: middle;
  margin-right: .2em;
  }

.jump-link-text {
  text-decoration: none;
  }

